.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0px;
}

.formulario form {
  background-color: #f6f6f6;
  border-radius: 20px;
  max-width: 80%;
  padding: 0px 100px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
}
