.campo-texto {
  margin: 24px 0px;
  font-family: "Monserrat", serif;
}

.campo-texto label {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.campo-texto input {
  width: 100%;
  background-color: #fff;
  box-shadow: 10px, 10px, 30px rgba(0, 0, 0, 0.06);
  outline-color: #6278f7;
  border: none;
  padding: 30px 20px;
  font-size: 16px;
}
